/* src/styles/DatosInstituto.scss */
.datos-instituto-container {
  position: relative;
  padding: 50px 0;
  margin-bottom: 50px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/Graduacion.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Para asegurarse de que la imagen esté detrás de los elementos */
}

.info-box {
  display: flex;
  flex-wrap: wrap; /* Permite que los ítems se acomoden en filas cuando sea necesario */
  justify-content: center; /* Centra los ítems horizontalmente */
  align-items: center; /* Centra los ítems verticalmente */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dato {
  text-align: center;
  width: 30%; /* Asegura que los datos ocupen solo el 30% del ancho en pantallas grandes */
  margin: 10px; /* Espacio pequeño entre los elementos */
  display: flex;
  flex-direction: column; /* Asegura que los íconos y textos estén apilados */
  align-items: center; /* Centra los íconos y el texto */
  box-sizing: border-box; /* Asegura que el margen no afecte el tamaño */
}

.dato i {
  font-size: 80px; /* Aumentamos el tamaño del ícono */
  color: #f2f2f2; /* Puedes cambiar el color del ícono si lo prefieres */
  margin-bottom: 10px;
}

.dato p {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
}

.dato .countup {
  font-size: 80px; /* Aumentamos el tamaño del número */
  font-weight: bold;
  margin-top: 10px;
}

/* Media queries para dispositivos móviles y tabletas */

/* Pantallas grandes */
@media (min-width: 1024px) {
  .dato {
    width: 30%; /* Los ítems ocupan el 30% del contenedor, 3 por fila */
  }
}

/* Pantallas medianas (tabletas) */
@media (max-width: 1024px) {
  .info-box {
    width: 90%; /* Los ítems ocupan más espacio */
  }

  .dato {
    width: 45%; /* Los ítems ocupan el 45% del ancho en pantallas medianas */
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .dato i {
    font-size: 60px; /* Reducir el tamaño del ícono */
  }

  .dato p {
    font-size: 30px; /* Reducir el tamaño del texto */
  }

  .dato .countup {
    font-size: 60px; /* Reducir el tamaño del número */
  }

  .dato {
    width: 90%; /* Los ítems ocupan el 90% del contenedor */
  }
}

/* Pantallas muy pequeñas (móviles pequeños) */
@media (max-width: 480px) {
  .dato {
    width: 95%; /* Los ítems ocupan casi todo el ancho del contenedor */
  }

  .dato i {
    font-size: 50px; /* Reducir aún más el tamaño del ícono */
  }

  .dato p {
    font-size: 25px; /* Reducir el tamaño del texto */
  }

  .dato .countup {
    font-size: 50px; /* Reducir el tamaño del número */
  }
}
