/* src/styles/FormularioCarteles.scss */
.formulario-carteles {
  display: flex;
  gap: 20px; /* Espacio entre los carteles */
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  flex-wrap: wrap; /* Permite que los carteles se acomoden en varias filas */
}

.cartel {
  width: 250px;
  height: 125px;
  background-color: #2274a5; /* Color de fondo */
  color: white; /* Color del texto */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartel p {
  margin: 0;
}

/* Media queries para dispositivos móviles y tabletas */
@media (max-width: 768px) {
  .formulario-carteles {
    flex-direction: column; /* Apilar los carteles verticalmente */
    gap: 15px; /* Reducir el espacio entre los carteles */
    align-items: center; /* Centrar los carteles */
  }

  .cartel {
    width: 80%; /* Los carteles ocupan el 80% del ancho del contenedor */
    max-width: 350px; /* Máximo ancho ajustado */
    height: 150px; /* Mantener la altura constante */
  }
}

@media (max-width: 480px) {
  .formulario-carteles {
    gap: 10px; /* Menos espacio entre carteles en pantallas más pequeñas */
  }

  .cartel {
    width: 90%; /* Los carteles ocupan el 90% del ancho del contenedor */
    max-width: 300px; /* Máximo ancho ajustado */
    height: 130px; /* Mantener la altura constante */
    font-size: 16px; /* Reducir el tamaño de la fuente para pantallas pequeñas */
  }
}
