/* Estilo base para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 20;
  transition: background-color 0.3s ease, position 0.3s ease;
}

/* Cambiar fondo cuando se hace scroll */
.navbar.scrolled {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Estilos para los elementos del navbar */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.navbar-text {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  position: relative;
}

/* Estilos de los enlaces */
.navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover {
  background-color: white;
}

/* Estilos para el menú hamburguesa */
.navbar-toggle {
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.navbar-toggle .fa-bars {
  color: #000; /* Cambia el color si lo necesitas */
}

/* Cuando el menú de hamburguesa está activo */
.navbar-links.active {
  display: block;
}

/* Estilos de los submenús */
.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background-color: transparent;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  width: 200px;
  top: 100%;
  left: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

/* Muestra el submenú cuando pasa el mouse */
.dropdown-container:hover .dropdown-menu {
  display: block;
  background-color: #60b9f8;
}

.dropdown-menu li {
  padding: 8px 15px;
  transition: background-color 0.3s ease;
  background-color: transparent;
  width: 100%;
}

.dropdown-menu li:hover {
  background-color: #60b9f8;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  display: block;
  width: 100%;
  font-weight: normal;
  text-transform: none;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar.scrolled {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center; /* Centra el texto del menú desplegable */
    background-color: white;
    padding: 20px 0;
    position: absolute;
    top: 50px; /* Ajustamos para que se vea debajo del navbar */
    left: 0;
    right: 0;
    z-index: 10;
  }

  .navbar-toggle {
    display: flex;
    justify-content: space-around;
  }

  .navbar-links.active {
    display: block;
  }

  .navbar-links li {
    width: 100%;
    padding: 10px 0;
    text-align: center; /* Centra cada elemento de la lista */
  }

  .navbar-links a {
    display: block;
    width: 100%;
    text-align: center; /* Centra el texto en cada enlace */
  }
}

.navbar-text {
  display: none;
}

/* Cambiar fondo cuando se hace scroll */
